




        <div class = "container" style="margin-top:100px; margin-left:200px">
        <form action="/home/look">
        <img src="/home.png"/>
        <h2>신이 나를 만들때</h2>
        <h3>이름을 입력해주세요:<input type="text" name='username'></h3>
        <input type="submit" value="시작하기">
        </form>
        </div>

