
          
                <section style="display:flex; flex-direction:row;">
                       <h1>신이 <strong><%=@name%></strong>을 만들때</h1><br>
                        <article>
                             
                            <img src="/2.jpg" />
                            <h2>먼저<strong> <%= @menu_choice.first %></strong> 한 스푼</h2>
                        </article>
                          
                         <article> 
                             <img src="/1.jpg"/>
                             <h2>그리고<strong> <%= @menu_choice.second %> </strong>적당히 </h2>
                         </article>
                        
                        
                        <article> 
                            <img src="/3.jpg"/>
                            <h2>그리고  <strong><%= @menu_choice.last %> </strong>이마아아아아안큼!</h2>
                        </article>
                        <br><br><br>
                                                                                
             
               
                           <a href="/home/index">홈으로</a>
   
               </section> 
        
        
       <!-- <= image_tag @listimg%>-->